.header,
.footer {
  background-color: #bb9ab1;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
  color: #7a1cac;
  user-select: none;
}
.icon {
  font-size: 6rem;
  color: #7a1cac;
}
.footer {
  justify-content: center;
}
@media screen and (max-width:515px) {
  .header h1{
    font-size: 2rem;
  }
}
@media screen and (max-width:376px) {
  .icon{
    font-size: 4rem;
  }
  .header h1{
    font-size: 1.5rem;
  }
}